[submodule "lib/CMSIS"]
	path = lib/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "lib/STM32CubeL1"]
	path = lib/STM32CubeL1
	url = https://github.com/STMicroelectronics/STM32CubeL1.git
