[submodule "lib/STM32CubeL1"]
	path = lib/STM32CubeL1
	url = https://github.com/STMicroelectronics/STM32CubeL1.git
[submodule "lib/Unity"]
	path = lib/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
